<div class="route-error">

       <div class="background-owl">
               <img src="/images/blue_owla.png" class="route-owl">
       </div>

       <div class="error-info">
         <h2> Ooops! This page doesn't exist! </h2>
       </div>

</div>
