<section class="content-header">
  <h1>
    <%= @topic.name %>
    <%= render partial: 'questions/form_modal', locals: { question: @question,
                                                          placeholder: @question_placeholder,
                                                          box_title: @question_box_title,
                                                          url: @new_question_url} %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Topic</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <% @topic.questions.each do |question| %>
      <%= render partial: 'questions/question', locals: { question: question,
                                                          room: @topic.room,
                                                          new_answer: @answer} %>
    <% end %>
  </div>
</section>
