<div id="like_button">
  <%= form_tag url, remote: true do %>
    <%= button_tag(type: "submit", class: "btn btn-flat btn-xs") do %>
      <i class="fa fa-heart"></i>
      <b><%= object.get_likes.size %></b>
    <% end %>
  <% end %>
</div>