<%= form_for answer, url: { action: "update" }, remote: true do |ans| %>
  <div class="input-group">
    <%= ans.text_field :content, class:"form-control content-text" %>

    <%= button_tag(type: "submit", class: "hidden") do %>
    <% end %>
  </div>
<% end %>