<h1> Room </h1>

<table>
  <thead>
    <th>Name</th>
    <th>Topic</th>
  </thead>
  <tr>
    <td><%= @room.name%></td>
    <!-- Here we will add the topics, when they are created -->
  </tr>
</table>
