/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require admin_lte/ltr/admin_lte
 *= require bootstrap-wysihtml5
 *= require bootstrap3-switch
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 */

html, body, #wrapper {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("overlay-background.png"), url("login-bg-repeat.jpg") !important;
}

.flash-conteiner {
  width: 50%;
  padding-top: 1%;
}

.alert.alert {
  width: 100%;
  margin-left: 50%;
  text-align: center;
}

.alert.alert-notice {
  border: 1px solid #f39c12;
  background: cornsilk;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  /*FIXME*/
  display: none;
}

#header-logo-name {
  vertical-align: middle;
}

.main-header > .logo {
  color: #222222 !important;
  background-color: #ffffff !important;
}

.submission {
  display: none;
}

.rooms > h2,
.people > h2,
.topics > h2,
.questions > h2 {
  border-bottom: 1px solid gray;
}

.search-results {
  margin: 0% 0 0 5%;
  width: 90%
}

/* dropdown overflow correction */
.dropdown-menu {
    left: -11.5em !important;
}
