// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-member {
	margin: 1% 0 0 35%;
	width: 30%;
}

#member-attributes {
	margin: 1% 0 0 40%;
}

#edit-path {
	margin: 1% 0 0 40%;
}
