// Place all the styles related to the Notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notification-list {
  list-style-type: none;
}

#dropdown-menu {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  width: 100%;
}

.footer > #notification-dropdown {
  display: none;
}

.empty-notifications {
  margin-left: 15px;
}

.see-notification {
  width: 0;
}