.route-owl {
  height: 24em;
  margin-left: 30%;
}

.error-info {
  text-align: center;
}

.table.table-striped.developers {
  width: 50%;
  margin: 0 15% 0 15%;
}

.about-info {
  width: 80%;
  margin: 1% 10% 0 10%;
}
