<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    </div>
	<!-- Default to the left -->
	<strong>Copyright &copy;</span> 2016 <a href="" class="btn-link"><b>Crab Solutions</b></a>.</strong>
</footer>
