<header class="main-header">
  <% if logged_in? %>
    <%= link_to home_path(current_member), class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <img src="/images/blue_owla.png" style="max-width: 40px;">
      </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="/images/blue_owla.png" style="max-width: 40px;">
        Owla
      </span>
    <% end %>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
  <% else %>
    <nav class="navbar navbar-static-top">

    <!-- Logo -->
    <%= link_to root_path, class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <img src="/images/blue_owla.png" style="max-width: 40px;">
        <span id="header-logo-name">Owla</span>
      </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="/images/blue_owla.png" style="max-width: 40px;">
        <span id="header-logo-name">Owla</span>
      </span>
    <% end %>
  <% end %>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <% if logged_in? %>
          <li class="notifications-menu">
            <%= link_to 'LOGOUT', logout_path, class: "dropdown-toggle" %>
          </li>
        <% end %>

        <li class="notifications-menu hidden">
          <a href="#" class="dropdown-toggle">
            HELP
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
