<h1>Members</h1>

<table>
  <thead>
    <th>Name</th>
    <th>email</th>
  </thead>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name%></td>
      <td><%= member.email%></td>
      <td></td>
    </tr>
  <% end %>
</table>
