<h1> Member </h1>

<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Alias</th>
  </thead>
  <tr>
    <td><%= @member.name%></td>
    <td><%= @member.email%></td>
    <td><%= @member.alias%></td>
  </tr>
</table>
